2_nhom-1.png
bvA-1.png
detectInappropriate3-1.png
detectInappropriate4-1.png
detectInappropriate4-2.png
detectInconsistency1-1.png
detectInconsistency2-1.png
nice-fig-1.png
normaldist-1.png
probdist-1.png
unnamed-chunk-10-1.png
unnamed-chunk-11-1.png
unnamed-chunk-4-1.png
unnamed-chunk-6-1.png
unnamed-chunk-7-1.png
unnamed-chunk-9-1.png
