detectInappropriate3-1.pdf
detectInappropriate4-1.pdf
detectInappropriate4-2.pdf
detectInconsistency1-1.pdf
detectInconsistency2-1.pdf
nice-fig-1.pdf
normaldist-1.pdf
probdist-1.pdf
unnamed-chunk-10-1.pdf
unnamed-chunk-11-1.pdf
unnamed-chunk-2-1.pdf
unnamed-chunk-4-1.pdf
unnamed-chunk-6-1.pdf
unnamed-chunk-7-1.pdf
unnamed-chunk-9-1.pdf
